extends ../layouts/main

block content
  .auth-page
    .auth-container
      .auth-card
        .auth-header
          h1.auth-title Welcome back
          p.auth-subtitle Log in to access your account
        
        form(action="/login" method="POST")
          .form-group
            label.form-label(for="email") Email
            input.form-input#email(type="email" name="email" placeholder="Enter your email" required)
          
          .form-group
            label.form-label(for="password") Password
            input.form-input#password(type="password" name="password" placeholder="Enter your password" required)
          
          button.btn.btn-primary.btn-lg(type="submit" style="width: 100%;") Log In
        
        .auth-footer
          p Don't have an account? 
            a(href="/register") Sign up
