footer.footer
  .container
    .footer-bottom
      .footer-bottom-content
        p &copy; #{new Date().getFullYear()} EaseTrip. All rights reserved.
        .footer-bottom-links
          a(href="/privacy-policy") Privacy Policy
          a(href="/terms-of-service") Terms of Service
