//- Weather Popup Modal
#weatherPopup.weather-popup
  .weather-popup-overlay
  .weather-popup-content
    button.weather-popup-close(type="button" onclick="closeWeatherPopup()")
      i.fas.fa-times

    .weather-popup-header
      i.fas.fa-cloud-sun
      h3 Weather Forecast
      p.weather-location
        i.fas.fa-map-marker-alt
        span#weatherCity Loading...

    .weather-popup-body
      .weather-loading#weatherLoading
        .spinner
        p Loading weather data...

      .weather-data#weatherData

        .weather-main
          .weather-icon#weatherIcon
            i.fas.fa-sun
          .weather-info
            .weather-condition#weatherCondition --
            .weather-temps
              .weather-temp-item
                span.temp-label High
                span.temp-value#tempHigh --
                span.temp-unit °C
              .weather-temp-divider
              .weather-temp-item
                span.temp-label Low
                span.temp-value#tempLow --
                span.temp-unit °C

        .weather-periods
          .weather-period
            .period-icon
              i.fas.fa-sun
            .period-info
              span.period-label Morning
              span.period-value#morningForecast --
          .weather-period
            .period-icon
              i.fas.fa-cloud-sun
            .period-info
              span.period-label Afternoon
              span.period-value#afternoonForecast --
          .weather-period
            .period-icon
              i.fas.fa-moon
            .period-info
              span.period-label Night
              span.period-value#nightForecast --

        .weather-date
          i.fas.fa-calendar-alt
          span#weatherDate Select a date

      .weather-unavailable#weatherUnavailable
        i.fas.fa-cloud-rain
        p Weather data not available for selected date

    .weather-popup-footer
      p.weather-note
        i.fas.fa-info-circle
        span Weather conditions may change. Please check closer to your travel date.